# Miadore 2,4-GHz-SNES-Controller / USB-Dongle
# Von RetroArch erkannt als: Controller (121/294)
# USB VID:PID: 0079:0126
# Treiber: udev

# Getestet auf: PlayStation Classic + BleemSync + RetroArch

# Ersteller Thorsten Bylicki | BYLICKILABS 
# Website: https://bylickilabs.de

input_driver = "udev"
input_device = "Controller"
input_device_display_name = "Miadore 2.4G SNES Controller"
input_vendor_id = "121"
input_product_id = "294"

input_x_btn = "0"
input_a_btn = "1"
input_b_btn = "2"
input_y_btn = "3"

input_l_btn = "4"
input_r_btn = "5"

input_select_btn = "8"
input_start_btn = "9"

input_left_axis = "-0"
input_right_axis = "+0"
input_up_axis = "-1"
input_down_axis = "+1"

input_x_btn_label = "X"
input_a_btn_label = "A"
input_b_btn_label = "B"
input_y_btn_label = "Y"
input_l_btn_label = "L"
input_r_btn_label = "R"
input_select_btn_label = "Select"
input_start_btn_label = "Start"
input_left_axis_label = "Steuerkreuz links"
input_right_axis_label = "Steuerkreuz rechts"
input_up_axis_label = "Steuerkreuz oben"
input_down_axis_label = "Steuerkreuz unten"